/* Stored vaiables */
:root {
    --header-color: blue;
}

/* Sets to default CSS styling to entire page */
* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* Body header styling */
header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: black ;
    align-items: baseline;
}

header h1 {
    font: size 50px ;
    background-color: green;
    padding-left: 40px;
    padding-right: 20px;
    border: 3px  solid var(--header-color);
}

.name {
    color: var(--header-color);
}

header nav ul li {
    font-size: 20px;
    display: contents;
}

header nav ul li a {
    color: green;
    padding-left: 25px;
    padding-right: 25px;
}

/* Body image section and Quote Properties */

.background {
    background-image: url(./images/matrix-scrolling.jpg);
    background-size: contain;
}

body section div {

}
