:root {
    --lightblue:(#3489a5);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: gray;
}

header h1 {
    font-size:50px ;
    background-color: var(--lightblue);
}

.name {
    color: green;
}

header nav {
    font-size: 20px;
    margin: 40px;
    display: inherit;
}

header a {
    color: var(--lightblue);
    text-decoration: underline 5px;
}

